

<!DOCTYPE html>
<html lang="zh">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<style>
    body{
        background: #347a68;
    }
</style>
</head>
<body class="frame-bd">
<ul class="left-menu">
    <li><a href="bill" target="mainFrame"><img src="images/btn_bill.png" width="180px" height="40px" /></a></li>
    <li><a href="supplier" target="mainFrame"><img src="images/btn_supplier.png" width="180px" height="40px"/></a></li>
    <li><a href="users" target="mainFrame"><img src="images/btn_users.png" width="180px" height="40px" /></a></li>
    <li><a href="#" onClick="javaScript:alert('这里实现退出操作！')"><img src="images/btn_exit.png" width="180px" height="40px" /></a></li>
</ul>
</body>
</html>

